<div class="ui grid stackable padded">
  <div class="two wide computer eight wide tablet sixteen wide mobile column">
    <div class="ui fluid card">
      <div class="content">
        <div class="ui right floated header" [ngClass]="AktuellAmTelefonCl">
          <i class="phone volume icon"></i>
        </div>
        <div class="header">
          <div class="ui header" [ngClass]="AktuellAmTelefonCl">{{AktuellAmTelefonNR}}</div>
        </div>
        <div class="description">
          Aktuell Telefonieren
        </div>
      </div>
    </div>
  </div>

  <div class="two wide computer eight wide tablet sixteen wide mobile column">
    <div class="ui fluid card">
      <div class="content">
        <div class="ui right floated header" [ngClass]="AktuellWarteCl">
          <i class="icon time"></i>
        </div>
        <div class="header">
          <div class="ui header" [ngClass]="AktuellWarteCl">{{ AktuellWarteNR }}</div>
        </div>
        <div class="meta">
        </div>
        <div class="description">
          Wie Lange warten Anrufer derzeit auf annahme des Gespräches
        </div>
      </div>
    </div>
  </div>
<div class="two wide computer eight wide tablet sixteen wide mobile column">
  <div class="ui fluid card">
    <div class="content">
      <div class="ui right floated header" [ngClass]="AktuellAmTelefonCl">
        <i class="icon phone"></i>
      </div>
      <div class="header">
        <div class="ui header" [ngClass]="AktuellAmTelefonCl">{{ AktuellAngemeldetNr }}</div>
      </div>
      <div class="meta">
      </div>
      <div class="description">
        Wie viele Telefone sind derzeit angemeldet
      </div>
    </div>
  </div>
</div>
</div>

<div class="ui grid stackable padded">
  <div class="column">
      <div *ngIf="chart" class="ui celled striped table">
        <canvas id="canvas">{{ chart }}</canvas>
      </div>
    </div>
</div>
